# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b673a1c9303bfccb897154016282fa4d40f73b0944b753642b1dc7c48c05fb438262111d35d73c1b0cbac612d5ba4ce6da159e1d8265de67e6b812a0e1d1e828

test:
  secret_key_base: 033e4fb152ca9de6a67fd6c1ba8918c6a88bad25936e76055c6b0cccc3566698156de367a3f16fbeaa7d1371ceea7a7bfac4ecf487e2f7a1b3250414d5a28a7f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
